<div class="container">
    <div class="row">
        <div class="col-md-5">
            {{> bdays/bdayForm}}
        </div>
        <div class="col-md-7">
            {{> bdays/bdayTable}}
        </div>        
    </div>
</div>